<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="assets/image/logo.png" alt="" width="40" height="40" class="d-inline-block align-top"> Gestion de Alumnos
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
                <a class="nav-link active" [routerLink]="['/lista-materias']" aria-current="page" href="#">Ver materias</a>

            </div>
        </div>
    </div>
</nav>


<router-outlet></router-outlet>